jieba==0.42.1
numpy==1.22.0
qrcode==7.3.1
requests_toolbelt==0.9.1
PixivPy==3.6.0
requests==2.25.1
playwright==1.14.1
lxml==4.6.5
baidu_aip==2.2.18.0
APScheduler==3.6.3
pyunit_time==2021.2.2
prettytable==2.2.1
Pillow==9.0.1
secrets==1.0.2
websocket_client==1.2.3
