lxml==4.6.5
requests==2.25.1
APScheduler==3.6.3
pyunit_time==2021.2.2
qrcode==7.3.1
requests_toolbelt==0.9.1
numpy==1.19.5
baidu_aip==2.2.18.0
playwright==1.14.1
prettytable==2.2.1
PixivPy==3.6.0
Pillow==8.4.0
secrets==1.0.2
websocket_client==1.2.1
